
body{
  width: 100vw;
  height: 100vh;
  background-image: url('https://i.pinimg.com/originals/6b/3f/7e/6b3f7e7c8a8b06fbd1ae32503037f3ca.jpg');
  background-size: cover;
}



.App {
  text-align: center;
}

.allproducts{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: start;
  justify-content: center;
}

.productcard{
  border: 2px solid;
  width: 20rem;
  height: 40rem;
  margin: 1rem;
  overflow: auto;
  background-color:wheat;

}

.productimage{
  width: 15rem;
  height: 15rem;
}

.productname{
  text-align: start;
}

.productprice{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productdeal{
  border: 2px solid;
  width: 7rem;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
}

.ratingbox{
  display: flex;
  flex-direction: row;
  gap:0.5rem;
}

.productsponsortag{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contactus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.contactusform{
  border: 2px solid;
  display: flex;  
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 70%;
  height: fit-content;  
  gap: 10px;
  margin-top: 4rem;
}

.contactusform input{
  width: 70%;
}

.contactusfooter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  background-color: cadetblue;
}

.addproductformdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.addproductform{
  display: flex;
  flex-direction: column;
  gap: 1rem;width: 80%;
}
